@model IEnumerable<Contact>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Contacts</h2>

<table class="table">
    <tr>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]">@Html.DisplayNameFor(model => model.Id)</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@Html.DisplayNameFor(model => model.Name)</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParam"]">@Html.DisplayNameFor(model => model.City)</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["StateSortParam"]">@Html.DisplayNameFor(model => model.State)</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneSortParam"]">@Html.DisplayNameFor(model => model.City)</a></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

            </tr>
        }
    </tbody>
</table>